html {
    height: 100%;
    color: #133;
    font-family: 'Bitter', serif;
    font-size: 18px;
    line-height: 1.25;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    margin: 0 0 1.5em;
    font-size: 2em;
    font-weight: normal;
}

a,
a:hover,
a:visited,
a:active {
    color: #133;
    text-decoration: underline;
    -webkit-text-decoration-skip: objects;
}

.container {
    padding: 50px;
}

section {
    margin-left: 2.5em;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 24px;
        margin-bottom: 3em;
    }
    
    section {
        margin-left: 5em;
    }
}
